version: '3.4'

services:

  api:
    build: .
    command: ./.docker/start.sh
    ports:
      - "3000:3000"
    volumes:
      - .:/home/node/app
      - '/etc/timezone:/etc/timezone:ro'
      - '/etc/localtime:/etc/localtime:ro'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    labels:
      filebeat_collector: true

    depends_on:
      - db

  db:
    image: mongo:6.0.8
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data/db:/data/db

  rabbitmq:
    build: ./.docker/rabbitmq
    ports:
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin