<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Whatsapp api baileys</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <h1>Whatsapp api baileys multi device support</h1>
                <p>Scan the Whatsapp QR code to start using the API</p>
    
                <div class="donation">
                    <h3>Sponsor the Evolution of this Project</h3>
                    <p>Support the ongoing development of this project. As a student, my time is limited, but I am committed to keeping it up-to-date.</p>
                    <p>Any donation is welcomed and greatly appreciated. If you find value in this project, please consider making a contribution to help its continued growth. Thank you in advance.</p>
    
                    <div class="donation-buttons">
                        <a href="https://www.buymeacoffee.com/yurytomaz" target="_blank" class="donation-button buymeacoffee">Buy me a coffee</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="<%= content %>" alt="" id="qrcode_box" />
        
            </div>
        </div>
    </div>
</body>
</html>