name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is inactive as it has been open for 6 days without activity. Remove the inactive label or comment; otherwise, it will be closed in 2 days.'
        stale-pr-message: 'This Pull Request is inactive as it has been open for 6 days without activity. Remove the inactive label or comment; otherwise, it will be closed in 2 days.'
        days-before-stale: 6
        days-before-close: 2
